<h1><%= link_to "GeekTwitter", tweets_path(), method: :get %>
<% if user_signed_in? %>
  <%= "アカウント："+current_user.name %>
  <%= link_to "マイページ", user_path(current_user.id), method: :get %>
  <%= link_to "ログアウト", destroy_user_session_path(), method: :delete %>
<% else %>
  <%= link_to "新規登録", new_user_registration_path(), method: :get %>
  <%= link_to "ログイン", new_user_session_path(), method: :get %>
<% end %></h1>


<%= form_for @tweet do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body, :size => 140 %>
  <%= f.submit "編集する" %>
<% end %>
