<div class="wrapper">
  <%= render "layouts/leftbanner" %>

  <div class="main-container">
    <div class="top-banner">
      ホーム
    </div>
    <div class="new-tweet-box">
      <%= link_to "新規投稿へ", new_tweet_path() %>
    </div>
    <% @tweets.each do |t| %>
      <%= link_to tweet_path(t.id), method: :get, class: "tweet-link-box" do %>
        <div class="tweet-container">
          <div class = "tweet-top-contents">
            <%=link_to t.user.name, user_path(t.user.id), method: :get %>：
            <%= t.created_at %>
          </div>
          <div class="tweet-main-contents">
            <%= t.body %>
          </div>
          <div class = "tweet-bottom-contents">
            <% if t.user == current_user %>
              <%= link_to "編集する", edit_tweet_path(t.id) %>
              <%= link_to "削除する", tweet_path(t.id), method: :delete %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="right-banner">
    <%= render "layouts/rightbanner" %>
  </div>
</div>
