<%= render "layouts/leftbanner" %>


<P><%= @user.name %>のいいね履歴</p>
<% @like.each do |l| %>
  <p><%= l.tweet.user.name + "：" + l.tweet.body %></p>
  <p><%= link_to "このツイートの詳細へ", tweet_path(l.tweet_id) %></p>
<% end %>


<% if user_signed_in? %>
  <% if @user == current_user %>
    <%= link_to "マイページへ戻る", user_path(params[:id]) %>
  <% else %>
    <%= link_to @user.name + "のページへ戻る", user_path(params[:id]) %>
  <% end %>
<% else %>
  <%= link_to @user.name + "のページへ戻る", user_path(params[:id]) %>
<% end %>
