<h1><%= link_to "GeekTwitter", tweets_path(), method: :get %>
<% if user_signed_in? %>
  <%= "アカウント："+current_user.name %>
  <%= link_to "マイページ", user_path(current_user.id), method: :get %>
  <%= link_to "ログアウト", destroy_user_session_path(), method: :delete %>
<% else %>
  <%= link_to "新規登録", new_user_registration_path(), method: :get %>
  <%= link_to "ログイン", new_user_session_path(), method: :get %>
<% end %></h1>


<p><%= @user.name %>のフォロー</p>
<% @follows.each do |f| %>
  <p><%= link_to f.to_user.name, user_path(f.to_user.id), method: :get %></p>
<% end %>
<%= link_to @user.name + "の詳細へ戻る", user_path(@user.id) %>
